.dark-mode {
    --primary-color: #036666;
    --accent-color: #d6e4e5;
    --button-hover-bg: #205c3a;
    --background-color: #2b2b2b;
    --secondary-color: #555;
    --box-shadow-color: rgba(255, 255, 255, 0.1);
    --btn-color: #edeec9;
    --hover-color: #dde7c7;
    background-color: #4f4b4b;
    color: #d6e4e5;
}

body.dark-mode #vysledek {
    color: #94EBAE; 
}

.dark-mode header,
.dark-mode nav {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.dark-mode footer {
    background-color: var(--background-color);
    color: var(--accent-color);
}

.dark-mode nav ul li a {
    color: var(--accent-color);
}

.dark-mode header::after {
    background-color: var(--background-color);
}

.dark-mode h1 {
    color: var(--accent-color);
}

.dark-mode .box,
.dark-mode .form,
.dark-mode .vizualization,
.dark-mode table {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    box-shadow: 0px 5px 15px var(--box-shadow-color);
}

.dark-mode th {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.dark-mode tr:nth-child(even) {
    background-color: var(--background-color);
    color: var(--accent-color);
}

.dark-mode th,
.dark-mode td {
    color: var(--accent-color);
}

.dark-mode .text ol li {
    background-color: var(--secondary-color);
    color: var(--accent-color)
}

.dark-mode .text ul li {
    background-color: var(--secondary-color);
    color: var(--accent-color)
}

.dark-mode .text>div {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.dark-mode fieldset {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.dark-mode legend {
    color: var(--accent-color);
}

.dark-mode label {
    color: var(--accent-color);
}

.dark-mode .btn-mode {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.dark-mode .btn-mode:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px var(--box-shadow-color);
}

.dark-mode .btn-form {
    background-color: var(--btn-color);
    color: var(--background-color);
}

.dark-mode .btn-form:hover {
    background-color: var(--hover-color);
}