@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');

:root {
    --primary-color: #036666;
    --secondary-color: #56ab91;
    --accent-color: #f0f4f7;
    --button-hover-bg: #2e6b31;
    --table-row-even-bg: #f2f2f2;
    --input-border-color: #ccc;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --tree-shadow: rgba(0, 0, 0, 0.08);
}

.container {
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 5%;
    flex: 1;
}

body {
    background-image: url('../img/pozadi.webp');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--accent-color);
}

header {
    background-color: white;
    padding: 40px 0;
    position: relative;
    text-align: center;
    box-shadow: 0px 4px 10px var(--box-shadow-color);
    z-index: 1;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: var(--primary-color);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    z-index: 0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.hero img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}

.hero h1 {
    font-size: 3em;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 5px;
}

nav {
    background-color: white;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 15px 20px;
    display: block;
    transition: color 0.3s ease-in-out;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 10px;
}

.hrefs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hrefs a {
    color: var(--accent-color);
    text-decoration: none;
    margin: 5px 0;
}

.hrefs a:hover {
    text-decoration: underline;
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    padding: 2em;
}

.img {
    object-fit: cover;
    height: 200px;
    width: 80%;
    display: block;
    margin: 0.5em auto;
}

.box {
    background-color: var(--accent-color);
    color: black;
    text-align: center;
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 2em;
    box-shadow: 0px 5px 15px var(--box-shadow-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8%;
}

figure {
    width: 100%;
    margin: 0;
}

.video{
    width: 100%;
}

.btn-read {
    border-radius: 5px;
    background-color: #edeec9;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.btn-read:hover {
    background-color: #dde7c7;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px var(--box-shadow-color);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: var(--accent-color);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: black;
}

th {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

tr:nth-child(even) {
    background-color: var(--table-row-even-bg);
}

.calculation {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap; 
    justify-content: center; 
}

.form {
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0px 5px 15px var(--box-shadow-color);
    flex: 1;
    width: 100%;
    max-width: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.vizualization {
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px var(--box-shadow-color);
    flex: 1;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
}

fieldset {
    border: 2px solid var(--primary-color);
    padding: 40px;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--primary-color);
    box-sizing: border-box;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-color);
}

label {
    display: block;
    margin-top: 10px;
    color: black;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
}

.btn-form {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.btn-form:hover {
    background-color: var(--button-hover-bg);
}
.plant {
    position: fixed;
    top: 0;
    width: 18%;
    height: auto;
    z-index: -1;
    opacity: 1;
    transition: transform 0.5s ease-out;
}

.right {
    right: 0;
    transform: translateY(0);
}

@keyframes sway {
    0% { transform: translateY(0px) rotate(-2deg); }
    50% { transform: translateY(5px) rotate(2deg); }
    100% { transform: translateY(0px) rotate(-2deg); }
}
@keyframes wawe {
    0% { transform: rotateX(0deg); }
    25% { transform: rotateX(15deg); }
    50% { transform: rotateX(0deg); }
    75% { transform: rotateX(-15deg); }
    100% { transform: rotateX(0deg); } 
}

.flower .leaf {
    transform-origin: center center; 
    animation: wawe 1s infinite ease-in-out;
}

.flower .leaf:nth-child(2) {
    animation-delay: 0.5s;
}


.plant img {
    width: 100%;
    animation: sway 4s infinite ease-in-out;
}

.text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
    max-width: 1000px;
    margin: 30px auto;
}

.text > div {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    background: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #5ca78b;
    border-radius: 8px;
    box-shadow: 3px 3px 15px var(--box-shadow-color);
    flex: 1;
    transition: all 0.3s ease-in-out;
}

.text > div:hover {
    background: #eef7ee;
    transform: scale(1.02);
}

.text ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.text ul > li {
    font-weight: bold;
    color: black;
    background: var(--accent-color);
    padding: 10px 13px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px var(--tree-shadow);
    transition: all 0.3s ease-in-out;
    flex: 1 1 150px;
    text-align: center;
}

.text ul > li:hover {
    background: #98c9a3;
    transform: scale(1.02);
}

.text ul ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 0 0;
    justify-content: center;
}

.text ul ul li {
    font-weight: normal;
    color: #333;
    background: #eef7f3;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.08);
}

 ol {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;;
    list-style-position: inside;
}

ol > li {
    font-weight: bold;
    color: black;
    background: var(--accent-color);
    padding: 4%;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    flex: 1;
    text-align: center;
}

 ol > li:hover {
    background: #98c9a3;
    transform: scale(1.02);
}

 ol ol {
    display: block;
    gap: 8px;
    padding: 10px 0 0;
    justify-content: center;
    flex-direction: column;
}

 ol ol li {
    font-weight: normal;
    color: #333;
    padding: 8px 12px;
}

figcaption {
    padding: 5px 10px; 
    border-radius: 5px; 
    display: inline-block; 
    font-style: italic; 
}

/* Pro šířky obrazovek do 1024px */
@media (max-width: 1024px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .box {
        max-width: 250px;
        height: auto;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        padding: 10px 0;
        font-size: 1em;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero img {
        display: none;
    }

    table {
        width: 100%;
        overflow-x: auto;
    }

    .calculation {
        flex-direction: column;
        align-items: center; 
    }

    .form,
    .vizualization {
        width: 100%;
        max-width: 90%; 
    }
}

/* Pro šířky obrazovek do 768px */
@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 2em;
        padding: 2em;
    }
    .hero h1 {
        display: none; 
    }

    .hero img {
        max-width: 100px;
        margin-right: 15px;
    }

    .box {
        max-width: 200px;
        height: auto;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        padding: 10px 0;
    }

    table {
        width: 100%;
    }

    .text ul > li {
        font-size: 0.9em;
    }
    .calculation {
        flex-direction: column;
        align-items: center;
    }

    .form,
    .vizualization {
        width: 100%;
        max-width: 90%; 
    }
    table {
        width: 100%;
        display: block; 
        overflow-x: auto; 
        white-space: nowrap; 
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Pro šířky obrazovek do 480px */
@media (max-width: 480px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hero h1 {
        font-size: 1.5em;
    }

    .box {
        max-width: 100%;
        height: auto;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        padding: 10px 0;
        font-size: 1em;
    }

    table {
        width: 100%;
    }

    .text ul > li {
        font-size: 1em;
    }

    .plant {
        width: 20%;
        top: 10%;
    }

}
